{% schema %}
{
  
  "name": "Banner Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Select an image to display."
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Choose Gift",
      "default": "Choose Gift"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button 1 URL"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button 2 Text",
      "default": "Button 2"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button 2 URL"
    },
    {
      "type": "text",
      "id": "text_view_1",
      "label": "Text View 1",
      "default": "Top Right Text"
    },
    {
      "type": "text",
      "id": "text_view_2",
      "label": "Text View 2",
      "default": "Center Text"
    }
  ],
  "presets": [
    {
      "name": "Banner Section",
      "category": "Custom"
    }
  ]
}

{% endschema %}
<div class="custom-image-with-buttons">
  <div class="image-container">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="Professional Image" />
    
    
    <div class="text-view top-right">
      {{ section.settings.text_view_1 }}
    </div>
    
    
    <div class="text-view center">
      {{ section.settings.text_view_2 }}
    </div>
    
    <div class="button-container top-button">
      <a href="{{ section.settings.button_link_1 }}" class="btn btn-primary">
        {{ section.settings.button_text_1 }} 
        
      </a>
    </div>
  </div>
</div>

<style>
  .custom-image-with-buttons{
    positive:relative;
    text-align:center,
  }
  .image-container{
    positive:relative;
  }
  .image-counter img{
    width 100%
    height:auto;
  }
  .button-container{
    position:absolute;
    text-align:center:
  }
</style>
