{% schema %}
{
  
  "name": "Banner Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Select an image to display."
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Choose Gift",
      "default": "Choose Gift"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button 1 URL"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button 2 Text",
      "default": "Button 2"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button 2 URL"
    },
    {
      "type": "text",
      "id": "text_view_1",
      "label": "Text View 1",
      "default": "Top Right Text"
    },
    {
      "type": "text",
      "id": "text_view_2",
      "label": "Text View 2",
      "default": "Center Text"
    }
  ],
  "presets": [
    {
      "name": "Banner Section",
      "category": "Custom"
    }
  ]
}

{% endschema %}
<div class="custom-image-with-buttons">
  <div class="image-container">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="Professional Image" />
    
    <!-- Text view at the top right -->
    <div class="text-view top-right">
      {{ section.settings.text_view_1 }}
    </div>
    
    <!-- Text view at the center -->
    <div class="text-view center">
      {{ section.settings.text_view_2 }}
    </div>
    
    <div class="button-container top-button">
      <a href="{{ section.settings.button_link_1 }}" class="btn btn-primary">
        {{ section.settings.button_text_1 }} 
        <svg width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 8a.5.5 0 0 1 .5-.5h13.086l-4.793-4.793a.5.5 0 0 1 .707-.707l5.5 5.5a.5.5 0 0 1 0 .707l-5.5 5.5a.5.5 0 0 1-.707-.707L13.586 8.5H.5A.5.5 0 0 1 0 8z"/>
        </svg>
      </a>
    </div>
    <div class="button-container bottom-buttons">
      <a href="{{ section.settings.button_link_2 }}" class="btn btn-secondary">
        {{ section.settings.button_text_2 }} 
        <svg width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15.5 8a.5.5 0 0 1-.5.5H1.414l4.793 4.793a.5.5 0 0 1-.707.707l-5.5-5.5a.5.5 0 0 1 0-.707l5.5-5.5a.5.5 0 0 1 .707.707L1.414 7.5H15a.5.5 0 0 1 .5.5z"/>
        </svg>
      </a>
    </div>
  </div>
</div>


